            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <p style="font-size: 25px">List photo album model</p>
                </div>
                <div class="panel-body text-center">
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img1.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Le Trong Tuan</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">3</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img2.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Cao Tien Trung</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">6</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img3.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Tran Ba Phuc</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">1</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img4.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Nguyen Nhat Truyen</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">2</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img5.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Ho Van Cuong</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">9</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success album">
                        <a href="#" class="thumbnail"><img src="image/Album model/img6.jpg" alt=""></a>
                        <p class="album-list">Posted by <i><b>Le Trong Dung</b></i></p>
                        <span>Views: </span><a href="#" class="btn btn-default btn-sm">5</a>
                    </div>
                </div>
                <div class="row">
                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
