
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <p style="font-size: 25px">List albums</p>
    </div>
    <div class="panel-body text-center">
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album1"><img src="image/image-cover-album/img-alb1.png" alt=""></a>
            <p class="album-list">Photo album natural</p>
            <p class="album-list">Creator by <i><b>Le Trong Tuan</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">3</a>
        </div>
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album2"><img src="image/image-cover-album/img-alb2.png" alt=""></a>
            <p class="album-list">Photo album model</p>
            <p class="album-list">Creator by <i><b>Cao Tien Trung</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">6</a>
        </div>
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album3"><img src="image/image-cover-album/img-alb3.png" alt=""></a>
            <p class="album-list">Photo album female athlete</p>
            <p class="album-list">Creator by <i><b>Tran Ba Phuc</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">1</a>
        </div>
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album4"><img src="image/image-cover-album/img-alb4.png" alt=""></a>
            <p class="album-list">Photo album singer VietNam</p>
            <p class="album-list">Creator by <i><b>Nguyen Nhat Truyen</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">2</a>
        </div>
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album5"><img src="image/image-cover-album/img-alb5.png" alt=""></a>
            <p class="album-list">Photo album comedy</p>
            <p class="album-list">Creator by <i><b>Ho Van Cuong</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">9</a>
        </div>
        <div class="col-sm-4 col-md-4 text-success album">
            <a href="/album6"><img src="image/image-cover-album/img-alb6.png" alt=""></a>
            <p class="album-list">Photo album football star</p>
            <p class="album-list">Creator by <i><b>Le Trong Dung</b></i></p>
            <span>Total views: </span><a href="#" class="btn btn-default btn-sm">5</a>
        </div>
    </div>
    <div class="row">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>

