        <div class="row col-xs-3 text-center" style="float: left; line-height: 1.5">
            <hr>
            <h3>Các bài viết cùng thể loại</h3>
            <hr>
            <a href="/blog6" title=""><img src="image/image-cover-blog/img6.png" alt=""></a>
            <a href="/blog6" title=""><p>Hiệp đồng tình yêu viết tay dễ thương trước thềm Valentine</p></a>
            <a href="/blog4" title=""><img src="image/image-cover-blog/img4.png" alt=""></a>
            <a href="/blog4" title=""><p>Blog tình yêu: Tặng những cặp đôi yêu xa trong ngày Valentine</p></a>
        </div>
        <div class="row col-xs-9" style="float: right;">
            <h3 style="text-align: center;">BLOG TÌNH YÊU: CẢM ƠN CUỘC ĐỜI ĐÃ MANG ANH ĐẾN BÊN EM </h3>
            <p>Anh à, em yêu anh rất nhiều! Cảm ơn cuộc đời đã mang anh đến bên em, dành tình yêu cho em, che chở em và nắm tay em. Em luôn mơ về một bến bờ hạnh phúc, một mái ấm yên vui nơi có anh và có tiếng cười của trẻ thơ…</p>
            <img style="margin: auto;" class="img-responsive" src="image/blog4/img1.jpg" alt=""><br>
            <p>Anh à, đối với em anh không phải là tất cả nhưng là người con trai duy nhất mà em yêu. Đã 2 năm rồi em vẫn còn nhớ như in chiều hôm đó, trời không quá nắng nhưng cũng đủ làm em mệt mỏi vì lo lắng cho kỳ thi đại học sắp tới.</p>

            <p>Anh – một chàng trai đất Huế ít nói, ít cười, pha lẫn chút màu “nhát gái”. Cứ mỗi lần đứng cạnh con gái anh chỉ mỉm cười không nói một lời. Hỏi thì anh trả lời, còn không anh im lặng. Phải chăng đó là hình ảnh riêng biệt khiến em yêu? Vâng, chắc thế.</p>

            <p>Sau lần gặp đầu tiên ở phòng trọ, chúng ta nói chuyện rất ăn ý. Luôn nói cùng lúc khiến cả hai ngượng “chín” mặt. Kể từ đó mình quen nhau, anh nhắn tin cho em nhiều hơn, an ủi, động viên em học tốt để chuẩn bị cho kỳ thi đại học.</p>

            <p>Sau 12 năm đèn sách, em đã thi đỗ vào Học viện cảnh sát nhân dân T-32. Sau ngày em nhập học với những bỡ ngỡ của nơi đất khách, anh đã luôn an ủi, động viên em cố gắng. Tuy chân ướt chân ráo ra Hà Nội học nhưng có anh, em như thêm nghị lực sống. Và 1 tháng sau khi em nhập học, mình chính thức yêu nhau.</p>

            <p>Em rất vui và hạnh phúc,  cuộc sống trong quân ngũ đối với một cô gái nơi miền đất Quảng Bình quanh năm chịu nhiều thiên tai, bão lụt cũng cho em bao mùi vị nếm trải gian lao và chút nắng tình yêu của anh đã cho em nghị lực sống để vươn lên.</p>

            <p>Em luôn luôn cố gắng, không ngại khó khăn, gian lao thử thách. Nhưng chính lịch học dày đặc, sự mệt mỏi sau những lần hành quân khiến em quên mất anh, em ít nhắn tin hơn, ít nói chuyện và luôn cằn nhằn mỗi lúc anh gọi điện hỏi thăm. Em biết anh đau lòng lắm, nhưng vẫn cam chịu để yêu em, để nắm tay em.</p>

            <p>Cứ thế, thời gian trôi, đồng hồ vẫn quay đều, anh ra trường và bắt đầu đi làm, mình lại xa nhau hơn vì tính ghen tuông thái quá. Giận nhau là chuyện cơm bữa, còn chia tay cũng đôi ba lần… nhưng chẳng hiểu sao, mỗi lần chia tay người giữ em lại vẫn là anh, người nắm tay em vẫn là anh và người thương em, cần em vẫn là anh.</p>

            <p>Những ngày làm lành sau nhiều trận “cuồng phong” giận dỗi, anh vẫn là người nắm tay em, xin lỗi dù em là người có lỗi. Em cám ơn anh vì đã đến bên cuộc đời em, vẫn nắm chặt tay em, vẫn yêu thương em dù bên anh luôn có bao người con gái xinh đẹp hơn em, cá tính hơn em và dịu dàng hơn em theo đuổi… vì anh là một chàng trai tâm lý.</p>

            <p>Em nhớ có lần em đòi chia tay, anh không suy nghĩ, vội nói “Ừ, em hãy giữ gìn sức khỏe, cố gắng ăn nhiều vào để còn sức mà học. Anh yêu em, chúc em sớm tìm được một nửa của mình”. Đêm đó, em đã khóc rất nhiều, sưng cả mắt, đợi điện thoại anh xin lỗi, nhưng mãi tới 5 ngày sau anh mới nhắn tin đến rằng: “Nếu còn yêu, xin em cho anh một cơ hội”. Em vui lắm, nước mắt chực trào bấy lâu không kìm được vội lăn dài nóng hổi trên má. Nhưng vẫn trong vai “người bị hại” em vẫn giận và bắt anh xin lỗi, nói yêu em hàng trăm lần mới thôi.</p>

            <p>Sau lần đó, em không dám nói chia tay dù giận ít hay nhiều. 2 năm trôi qua nhưng tình yêu trong em vẫn thế, vẫn ngây ngô, tỉnh bơ, giả là người bị hại sau những lần giận nhau, còn anh luôn luôn là bị cáo.</p>

            <p>Anh à, em yêu anh rất nhiều. Cám ơn anh đã đến bên đời em, yêu em, che chở cho em và nắm tay em. Em luôn mơ về một bến bờ hạnh phúc, nơi đó anh là chồng của em “người bị hại”còn em vợ của “bị cáo”. Chúng ta sẽ có nguyên một “đội bóng” và cùng nhau xây dựng tương lai anh nhé! Em yêu anh! Gửi tình yêu của em.</p>

            <p>Ngày lễ tình nhân 14/2 sắp đến gần, thay cho lời chúc Valentine ngọt ngào, lãng mạn bạn có thể dành tặng nửa yêu thương của mình blog tình yêu trên đây, cũng không kém phần ý nghĩa.</p>
        </div>