        <div class="row col-xs-3 text-center" style="float: left; line-height: 1.5">
            <hr>
            <h3>Các bài viết cùng thể loại</h3>
            <hr>
            <a href="/blog2" title=""><img class="img-responsive" src="image/image-cover-blog/img2.png" alt=""></a>
            <a href="/blog2" title=""><p>Hình ảnh tình bạn cảm động đến rơi nước mắt</p></a>
            <a href="/blog3" title=""><img class="img-responsive" src="image/image-cover-blog/img3.png" alt=""></a>
            <a href="/blog3" title=""><p>Những câu nói hay về tình bạn thân chuẩn và chính xác nhất</p></a>
        </div>        
        <div class="row col-xs-9" style="float: right;">
            <h3 style="text-align: center;">NHỮNG CÂU NÓI VỀ TÌNH BẠN CHẠM ĐẾN TRÁI TIM</h3>
            <p>Tuy không phức tạp, lãng mạn như tình yêu, nhưng tình bạn thực sự là một điều rất đáng được chúng ta chăm chút và trân trọng. Tuy nhiên không phải ai cũng hiểu được cách để có được những tình bạn lâu dài. Cùng cảm nhận và suy ngẫm những câu nói hay về tình bạn đủ chạm đến trái tim của biết bao người.</p>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img1.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img2.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img3.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img4.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img5.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img6.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img7.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog/img8.jpg" alt=""><br>
            <p>Tình bạn là món quà vô giá không thể bán không thể mua,giá trị của tình bạn còn tuyệt hơn một núi vàng rất nhiều.bởi vì vàng là một vật vô tri,không biết nhìn cũng không thể lắng nghe.và trong lúc ta gặp rắc rối vàng…………không thể nói lời cổ vũ ,vàng không có đôi tai để lắng nghe,không có trái tim để thấu hiểu.vàng không thể đem lại cho bạn bình yên hoặc sự trở che khi bạn cần .
            hãy cảm ơn cuộc đời đã tặng bạn món quà vô giá,không phải kim cương ,châu báu mà là tình cảm chân thành từ một tình bạn thật sự………….

            Cùng cảm nhận hinh anh tinh ban dep để cảm nhận tình cảm cao đẹp đáng quý thế này nhé. Chúc cho tất cả mọi người sẽ tìm cho mình được những người bạn thật tốt và luôn luôn hiểu nhau.</p>
        </div>