        <div class="row col-xs-3 text-center" style="float: left; line-height: 1.5">
            <hr>
            <h3>Các bài viết cùng thể loại</h3>
            <hr>
            <a href="/blog2" title=""><img class="img-responsive" src="image/image-cover-blog/img2.png" alt=""></a>
            <a href="/blog2" title=""><p>Hình ảnh tình bạn cảm động đến rơi nước mắt</p></a>
            <a href="/blog1" title=""><img class="img-responsive" src="image/image-cover-blog/img1.png" alt=""></a>
            <a href="/blog1" title=""><p>Những câu nói về tình bạn chạm đến trái tim</p></a>
        </div>
        <div class="row col-xs-9" style="float: right;">
            <h3 style="text-align: center;">NHỮNG CÂU NÓI HAY VỀ TÌNH BẠN THÂN CHUẨN VÀ CHÍNH XÁC NHẤT </h3>
            <p>Bất cứ một người nào cũng có ít nhất một đứa bạn thân, người mà bạn có thể chia sẻ hết mọi niềm vui nỗi buồn. Có thể khóc cùng mỗi khi buồn và vui cười thả ga nếu có chuyện vui. Ai cũng có một người bạn thân tuy nhiên vì cuộc sống và vì công việc mà lâu nay chúng ta không gặp lại người bạn ấy. Bạn sẽ rất nhớ những kỉ niệm bên người bạn của mình. Những câu nói hay về tình bạn mà blogtraitim.info giới thiệu đến đây sẽ làm bạn nhớ về tình bạn đẹp ấy. Hãy đọc và suy ngẫm những câu nói ý nghĩa này bạn nhé!</p>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img1.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img2.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img3.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img4.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img5.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img6.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img7.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img8.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img9.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img10.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img11.jpg" alt=""><br>
            <img style="margin: auto;" class="img-responsive" src="image/blog2/img12.jpg" alt=""><br>
            <p>Những câu nói trên khiến bạn cảm thấy rất nhớ người bạn của mình đúng không? Hãy gửi tặng những câu nói hay này đến người bạn thân của.</p>
        </div>