        <div class="row col-xs-3 text-center" style="float: left; line-height: 1.5">
            <hr>
            <h3>Các bài viết cùng thể loại</h3>
            <hr>
            <a href="/blog4" title=""><img src="image/image-cover-blog/img4.png" alt=""></a>
            <a href="/blog4" title=""><p>Blog tình yêu: Tặng những cặp đôi yêu xa trong ngày Valentine</p></a>
            <a href="/blog5" title=""><img src="image/image-cover-blog/img5.png" alt=""></a>
            <a href="/blog5" title=""><p>Blog tình yêu: Cảm ơn cuộc đời đã mang anh đến bên em</p></a>
        </div>
        <div class="row col-xs-9" style="float: right;">
            <h3 style="text-align: center;">HIỆP ĐỒNG TÌNH YÊU VIẾT TAY DỄ THƯƠNG TRƯỚC THỀM VALENTINE </h3>
            <p>Ngày nay với sự phổ biến của công nghệ thông tin mà chúng ta đang mất dần đi những bức thư tay, những mẩu ghi chép dễ thương chứa đựng nhiều tình yêu thương cho nhau. Sắp đến ngày lễ tình nhân Valentine, Blogtraitim.info xin giới thiệu tới quý độc giả bản hiệp đồng tình yêu viết tay dễ thương sau đây.</p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img1.jpg" alt=""><br>
            <p><i>“Điều 1: Luôn chung thủy với em, không được ‘bắt cá hai tay’…”.</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img2.jpg" alt=""><br>
            <p><i>“Phải luôn gọi điện cho em khi đã hứa. Dù điều này có thể chạm đến quyền tự do cá nhân của anh nhưng giá như anh biết được em mong nghe giọng nói của anh như thế nào” (Điều 4).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img3.jpg" alt=""><br>
            <p><i>“Thay vì than vãn vì cái tính đỏng đảnh, trẻ con, bướng bỉnh khó chiều của em mà hãy ủng hộ những ý tưởng điên khùng đó một cách thực lòng nhé. Anh có thừa nhận rằng sau khi thực hiện những ý tưởng đó, anh cũng thấy rất thích thú đúng không nào?” (Điều 5).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img4.jpg" alt=""><br>
            <p><i>“Khi em bị ốm, phải đến thăm và tặng em thật nhiều bánh kẹo (Em thích nhất bánh Chocopie) cùng những tình yêu thương thật ngọt ngào” (Điều 10).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img5.jpg" alt=""><br>
            <p><i>“Luôn có những cử chỉ yêu thương và thật nhiều nụ hôn nồng nàn mỗi khi chúng ta ở bên nhau” (Điều 11).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img6.jpg" alt=""><br>
            <p><i>“Bỏ hết tất cả mọi việc và đến với em khi em gọi điện cho anh. Bởi vì chắc chắn lúc đó em đang rất cần có anh bên cạnh em hơn bao giờ hết. Anh hãy luôn ghi nhớ điều này anh nhé” (Điều 15).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img7.jpg" alt=""><br>
            <p><i>“Không được để em nói chuyện “một mình” còn anh cứ dán mắt vào cái điện thoại hoặc những thứ gì đó ở tận đẩu, tận đâu” (Điều 17).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img8.jpg" alt=""><br>
            <p><i>“Khi em 50 tuổi hay 60 tuổi, em vẫn thích được anh tặng hoa hồng và gọi em bằng những tên gọi ngọt ngào như anh vẫn gọi em bây giờ” (Điều 20).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img9.jpg" alt=""><br>
            <p><i>“Điều cuối cùng và là điều rất đặc biệt: Đừng xem em là một cô bé, bởi vì em đã thực sự trưởng thành trong tình yêu của hai chúng ta” (Điều 23).</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img10.jpg" alt=""><br>
            <p><i>Ngoài ra, hợp đồng tình yêu còn ghi rõ quyền lợi, nghĩa vụ và các điều khoản bổ sung.</i></p>
            <img style="margin: auto;" class="img-responsive" src="image/blog5/img11.jpg" alt=""><br>
            <p><i>“Trong mọi trường hợp xảy ra tranh chấp, cãi vã… phần đúng luôn thuộc về bên B. Mọi hành động dù vô tình hay cố ý của hai bên dẫn đến hiểu nhầm nghiêm trọng cho bạn bè, người thân của phía đối tác đều phải được làm rõ ràng để tránh gây hậu quả nghiêm trọng cho các bên”.</i></p>
            <p>Sắp đến ngày lễ tình nhân Valentine, Blogtraitim.info chúc cho các bạn đang yêu nhau sẽ gắn kết được với nhau, các bạn đang độc thân sẽ sớm tìm được một nửa phù hợp với mình. Thay cho lời chúc Valentine ngọt ngào, bạn có thể dành tặng nửa yêu thương bản hiệp đồng tình yêu dễ thương trên đây.</p>
        </div>