            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <p style="font-size: 25px">List blog</p>
                </div>
                <div class="panel-body text-center">
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img1.png" alt="">
                        <p class="post-list">Posted by <i><b>Le Trong Tuan</b></i></p>
                        <p>Tuy không phức tạp, lãng mạn như tình yêu, nhưng tình bạn thực sự là một điều rất đáng được chúng ta chăm chút và trân trọng. Tuy nhiên không phải ai cũng hiểu được ...</p>
                        <a href="/blog1" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">3</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img2.png" alt="">
                        <p class="post-list">Posted by <i><b>Le Trong Dung</b></i></p>
                        <p>Tình bạn là một trong những tình cảm thiêng liêng đáng trân trọng. Là con người ai trong cuộc đời cũng đều có ít nhất một người bạn thân để ta có thể chia sẻ nỗi lòng ...</p>
                        <a href="/blog2" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">6</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img3.png" alt="">
                        <p class="post-list">Posted by <i><b>Cao Tien Trung</b></i></p>
                        <p>Bất cứ một người nào cũng có ít nhất một đứa bạn thân, người mà bạn có thể chia sẻ hết mọi niềm vui nỗi buồn. Có thể khóc cùng mỗi khi buồn và vui cười thả ga nếu có chuyện vui ...</p>
                        <a href="/blog3" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">1</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img4.png" alt="">
                        <p class="post-list">Posted by <i><b>Nguyen Nhat Truyen</b></i></p>
                        <p>Ngày lễ  tình yêu Valentine đang đến gần, thấy các cặp đôi trẻ người quấn quýt bên nhau, mua những cây kem chocolate ngọt dịu ăn cùng nhau hay trao cho nhau những nụ hôn nồng nàn ...</p>
                        <a href="/blog4" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">2</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img5.png" alt="">
                        <p class="post-list">Posted by <i><b>Ho Van Cuong</b></i></p>
                        <p>Anh à, em yêu anh rất nhiều! Cảm ơn cuộc đời đã mang anh đến bên em, dành tình yêu cho em, che chở em và nắm tay em. Em luôn mơ về một bến bờ hạnh phúc, một mái ấm yên vui nơi có anh ...</p>
                        <a href="/blog5" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">2</a>
                    </div>
                    <div class="col-sm-4 col-md-4 text-success blog">
                        <img src="image/image-cover-blog/img6.png" alt="">
                        <p class="post-list">Posted by <i><b>Tran Ba Phuc</b></i></p>
                        <p>Ngày nay với sự phổ biến của công nghệ thông tin mà chúng ta đang mất dần đi những bức thư tay, những mẩu ghi chép dễ thương chứa đựng nhiều tình yêu thương cho nhau ...</p>
                        <a href="/blog6" class="btn btn-default btn-sm">Read More</a>
                        <a href="#" class="btn btn-default btn-sm">2</a>
                    </div>
                </div>
                <div class="row">
                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
